canvas {
		display: block;
		position: absolute;
		border: 4px solid #a0a8b3;;
		border-radius: 2px;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

#score {
	position: absolute;
    top: 45%;
    left: calc(50% - 378px);
    height: 30px;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    text-align: center;
    line-height: 32px;
    color: #ffffff;
    background-color: #1697c7;
}

#start-game {
	position: absolute;
    top: calc(45% + 100px);
    left: calc(50% - 378px);
    height: 30px;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: transparent;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    color: #ffffff;
    background-color: #1697c7;
}

#game-over {
    position: absolute;;
    top: calc(50% - 20px);
    left: calc(50% - 84px);
    border: 1px solid white;
    width: 190px;
    text-align: center;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: white;
    z-index: 5;
    border-radius: 6px;
    background-color: #1697c7;
}


