canvas {
		display: block;
		position: absolute;
		border: 1px solid blue;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}

#start-game {
	position: absolute;
    bottom: 20px;
    left: calc(50% - 40px);
    height: 35px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
}	